html,body,header,main,div,article,section,aside,nav,ul,li,a,figure,img,h1,h2,p,span,button{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    margin-bottom: 52px;
}

button{
    cursor: pointer;
}

.container{
    width: 86vw;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
}

nav{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
    gap: 20px;
}

.ativo{
    font-weight: 600;
    color: #292929;
}

nav li{
    font-weight: 400;
    font-size: 16px;
    color: #242424;
}

nav li:hover{
    font-weight: 600;
    color: #292929;
    cursor: pointer;
}

article{
    display: flex;
    justify-content: space-between;
}

section{
    width: 60vw;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section li{
    width: 18vw;
    margin-bottom: 22px;
    border: 1px solid transparent;
}

section li:hover{
    border-color: rgba(46, 36, 94, 0.2);
}

section figure{
    width: 100%;
    height: 154px;
    background: #F5F5F5;
}

section img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section .texto{
    height: 254px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    justify-content: space-between;
}

.tag{
    display: flex;
    gap: 5px;
}

.tag span{
    width: 70px;
    height: 24px;
    background: #2E245E;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: 700;
    font-size: 18px;
    color: #292929;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
}

section span{
    font-weight: 600;
    font-size: 14px;
    color: #2E245E;
}

section button:hover{
    background: #2E245E;
    color: #FFFFFF;
    border-radius: 3px;
}

aside{
    width: 22vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: flex-start;
}

aside .texto{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 15px;
}


.busca{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    width: 67%;
    height: 50px;
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding-left: 14px;
}

.busca button{
    width: 25%;
    background: #2E245E;
    font-weight: 500;
    font-size: 80%;
    color: #FFFFFF;
}

.carrinho{
    width: 100%;
}

.carrinho .topo{
    display: flex;
    width: 100%;
    height: 50px;
    background: #37268C;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.carrinho_ul{
    display: flex;
    background: #F5F5F5;
    width: 100%;
    height: 329px;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-content: flex-start;
}

.carrinho_ul li{
    width: 100%;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;
    align-items: center;
    justify-content: flex-start;
}

.carrinho figure{
    width: 30%;
    height: 92px;
    background: #FFFFFF;
}

.carrinho img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carrinho .texto{
    width: 65%;
}

h2{
    font-weight: 700;
    font-size: 14px;
}

.carrinho span{
    font-weight: 600;
    font-size: 14px;
    color: #2E245E;
}

.carrinho button{
    width: 100%;
}

.fim{
    padding: 0 14px;
    display: flex;
    width: 100%;
    height: 126px;
    background: #292929;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.fim li{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.fim_esq{
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.fim_dir{
    margin-right: 14px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
}

.none{
    display: none;
}